#combination-pursuits-dot{
    height:30px;
    width:30px;
    top: 150%;
    left: 150%;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#combination-saccades-dot{
    height:30px;
    width:30px;
    top: 150%;
    left: 150%;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes TLtoBR{
    0% {
        top: 5%;
        left: 5%;
    }
    99% {
        top: 95%;
        left: 95%;
    }
    100% {
        top: 150%;
        left: 150%;
    }
}

@keyframes TMtoBM{
    0% {
        top: 5%;
        left: 50%;
    }
    99% {
        top: 95%;
        left: 50%;
    }
    100% {
        top: 150%;
        left: 150%;
    }
}

@keyframes TRtoBL{
    0% {
        top: 5%;
        left: 95%;
    }
    99% {
        top: 95%;
        left: 5%;
    }
    100% {
        top: 150%;
        left: 150%;
    }
}

@keyframes MLtoMR{
    0% {
        top: 50%;
        left: 5%;
    }
    99% {
        top: 50%;
        left: 95%;
    }
    100% {
        top: 150%;
        left: 150%;
    }
}

@keyframes MRtoML{
    0% {
        top: 50%;
        left: 95%;
    }
    99% {
        top: 50%;
        left: 5%;
    }
    100% {
        top: 150%;
        left: 150%;
    }
}

@keyframes BLtoTR{
    0% {
        top: 95%;
        left: 5%;
    }
    99% {
        top: 5%;
        left: 95%;
    }
    100% {
        top: 150%;
        left: 150%;
    }
}

@keyframes BMtoTM{
    0% {
        top: 5%;
        left: 50%;
    }
    99% {
        top: 5%;
        left: 50%;
    }
    100% {
        top: 150%;
        left: 150%;
    }
}

@keyframes BRtoTL{
    0% {
        top: 95%;
        left: 95%;
    }
    99% {
        top: 5%;
        left: 5%;
    }
    100% {
        top: 150%;
        left: 150%;
    }
}
