.preview-thumbnail{
    max-width: 200px;
    max-height:200px;
}

.btn-div{
    padding: 20px;
    display: inline-block;
}

#all-btns-container{
    max-width:60vw;
}

.homepage-btn{
    border:none;
    background-color: rgba(64, 64, 64, 0.25);
    font-style: oblique;
    font-weight: bold
}