.preview-thumbnail{
    max-width: 200px;
    max-height:200px;
}

.homepage-btn-div{
    padding: 20px;
    display: inline-block;
}

#homepage-all-btns-div{
    max-width:60vw;
}

.homepage-btn{
    border:none;
    background-color: rgba(64, 64, 64, 0.25);
    font-style: oblique;
    font-weight: bold
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgba(0, 0, 0, 0.650);
    text-align: center;
    font-size: 16px;
}