@keyframes TLtoBR{
    to {
        top:95%;
        left:95%;
    }
}

@keyframes TMtoBM{
    to {
        top:95%;
        left:50%;
    }
}

@keyframes TRtoBL{
    to {
        top:95%;
        left:5%;
    }
}

@keyframes MLtoMR{
    to {
        top:50%;
        left:95%;
    }
}

@keyframes MRtoML{
    to {
        top:50%;
        left:5%;
    }
}

@keyframes BLtoTR{
    to {
        top:5%;
        left:95%;
    }
}

@keyframes BMtoTM{
    to {
        top:5%;
        left:50%;
    }
}

@keyframes BRtoTL{
    to {
        top:5%;
        left:5%;
    }
}
