.App {
  text-align: center;
  background: url("./project-images/textured-background.png");
  background-size: auto;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.save-options-btn {
  color: blue!important;
}
